.header
  %h1 Posts

.content

  = partial 'views/_nav.haml'

  %ul
    %li
      %a{:href => '/posts/new'} Add Post
  
  - if @posts.empty?
    %p No Posts
  - else
    - @posts.each do |post|
      .post
        %a{:href => "/posts/#{post.id}"}= "#{post.title}"
        = "(Created at #{post.created_at.strftime( '%a %b %d %H:%M')})"